// .container {
// 	width: 100%;
// 	padding: 0 14vw;
// 	&__test {
// 		height: 100vh;
// 		width: 100%;
// 		background-color: $gray;
// 	}
// }
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 6vw;
}
@media (orientation: landscape) {
	.container {
		padding: 0 8vw;
	}
}
@media (min-width: 480px) {
	.container {
		padding: 0 8vw;
	}
}
@media (min-width: 1080px) {
	.container {
		padding: 0 10vw;
	}
}
@media (min-height: 1080px) and (orientation: portrait) {
	.container {
		padding: 0 8vw;
	}
}
@media (min-width: 1280px) {
	.container {
		padding: 0 12vw;
	}
}
@media (min-width: 1500px) {
	.container {
		padding: 0 14vw;
	}
}
@media (min-width: 1921px) {
	.container {
		padding: 0 18vw;
	}
}
@media (min-width: 2049px) {
	.container {
		padding: 0 21vw;
	}
}
