.header {
	height: 100vh;
	//////
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1.6fr 44px;

	&__photo {
		min-height: 100px;
		width: clamp(120px, 65%, 260px);
		aspect-ratio: 1/1;
		///////
		display: flex;
		justify-self: center;
		align-self: end;
		justify-content: center;
		///////
		border: solid 3px $black;
		border-radius: 100%;

		&-image {
			width: 96%;
			aspect-ratio: 1/1;
			///////
			align-self: center;
			///////
			background-color: $dark;
			border-radius: 100%;
		}
	}
	&__content {
		position: relative;
		height: 100%;
		///////
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.7fr 0.25fr 1fr;
	}
	&__buttons {
		width: 100%;
		height: 100%;
		///////
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		column-gap: 4vw;
		///////
		margin-top: 10px;

		&-linkedin {
			position: absolute;
			right: 0;
			bottom: 20%;
			transform: translate(0, -50%);
			///////
			font-size: 34px;
			color: $black;
			///////
			width: 33px;
			text-align: center;
		}
		&-github {
			position: absolute;
			right: 0;
			bottom: 10%;
			transform: translate(0, -50%);
			///////
			font-size: 34px;
			color: $black;
			///////
			width: 33px;
			text-align: center;
		}
		&-scroll {
			width: auto;
			///////
			position: absolute;
			left: 50%;
			top: 70%;
			transform: translate(-50%, -50%);
			&-p {
				display: none;
			}
		}
	}
	&__typography {
		margin-top: 4vh;
		color: $dark;
		font-family: $inter;
		&-h3 {
			font-size: calc(0.4vw + 0.8rem);
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: 400;
		}
		&-h2 {
			font-size: calc(0.4vw + 1rem);
			line-height: 121%;
			font-weight: 300;
		}
		&-h1 {
			font-family: $poppins;
			font-weight: 600;
			text-transform: uppercase;
			font-size: clamp(20px, 3vw + 1rem, 40px);
			color: $black;
		}
	}

	@media (orientation: landscape) {
		grid-template-columns: 1.5fr 1fr;
		grid-template-rows: 44px 1fr;

		&__photo {
			grid-column: 2/3;
			grid-row: 2/4;

			min-height: 100px;
			width: clamp(200px, 80%, 360px);
			///////
			display: flex;
			justify-self: center;
			align-self: center;
			justify-content: center;

			&-image {
				width: 96%;
				///////
				align-self: center;
			}
		}
		&__content {
			height: auto;
			grid-column: 1/2;
			grid-row: 2/3;
			row-gap: 4.5vh;
			align-self: center;
			///////
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 0.2fr;
		}
		&__typography {
			margin-top: 0vh;

			&-h3 {
				font-size: calc(0.6vw + 0.6rem);
				letter-spacing: 1px;
			}
			&-h2 {
				font-size: calc(0.7vw + 0.7rem);
				line-height: 121%;
			}
			&-h1 {
				font-size: calc(1.3vw + 1rem);
			}
		}
		&__buttons {
			grid-template-columns: 1fr 1fr auto;
			column-gap: 2vw;
			///////
			padding-right: 0px;
			margin-top: 0vh;

			.button {
				font-size: clamp(10px, 1vw + 0.35rem, 14px);
			}
			&-social-media {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.8vw;
			}
			&-linkedin {
				position: initial;
				transform: none;
				///////
				font-size: 32px;
			}
			&-github {
				position: initial;
				transform: none;
				///////
				font-size: 32px;
			}
			&-scroll {
				display: none;
			}
		}
	}
	@media (min-width: 480px) and (orientation: portrait) {
		grid-template-rows: 0.6fr 1fr 60px;
		&__photo {
			width: clamp(260px, 50%, 330px);
		}
		&__content {
			grid-template-rows: 1fr auto 2fr;
			row-gap: 3vh;
			padding: 5vh 7vw 0 7vw;
			overflow: hidden;
		}
		&__typography {
			margin-top: 0vh;
			&-h3 {
				font-size: calc(0.4vw + 1rem);
				letter-spacing: 1px;
			}
			&-h2 {
				font-size: calc(1vw + 1rem);
				line-height: 121%;
			}
			&-h1 {
				font-size: calc(1.6vw + 1.5rem);
			}
		}
		&__buttons {
			column-gap: 0vw;
			margin-top: 0px;
			.button {
				width: 33vw;
				font-size: clamp(9px, 1.7vw + 0.4rem, 26px);
			}
		}
		&__scroll-section {
			position: relative;
			&-img {
				width: 13%;
				position: absolute;
				left: 50%;
				top: 40%;
				transform: translate(-50%, -50%);
			}
			&-linkedin {
				position: absolute;
				right: 0;
				top: 64%;
				transform: translate(0, -50%);
				///////
				font-size: 34px;
				color: $black;
				///////
				width: 31px;
				text-align: center;
			}
			&-github {
				position: absolute;
				right: 0px;
				top: 80%;
				transform: translate(0, -50%);
				///////
				font-size: 34px;
				color: $black;
				///////
				width: 31px;
				text-align: center;
			}
		}
	}
	@media (min-width: 660px) and (orientation: portrait) {
		grid-template-rows: 0.75fr 1fr 60px;
		row-gap: 3vh;
		&__content {
			grid-template-rows: auto 0.2fr 1fr;
			padding: 3vh 7vw 0 7vw;
		}
		&__buttons {
			grid-template-columns: 0.46fr 0.46fr auto;
			column-gap: 2vw;
			///////
			padding-right: 0px;
			margin-top: 0vh;

			.button {
				width: 100%;
				font-size: clamp(9px, 1.7vw + 0.4rem, 26px);
				border: 3px solid $black;
			}
			&-social-media {
				display: flex;
				justify-content: flex-start;
				gap: 3vw;
			}
			&-linkedin {
				position: initial;
				transform: none;
				///////
				font-size: 45px;
			}
			&-github {
				position: initial;
				transform: none;
				///////
				font-size: 45px;
			}
			&-scroll {
				width: auto;
				max-height: 50px;
				top: 75%;
			}
		}
	}
	@media (min-width: 810px) and (orientation: landscape) {
		grid-template-columns: 1.2fr 1fr;
		column-gap: 3vw;
		grid-template-rows: 60px 1fr;
		&__typography {
			&-h1 {
				font-size: calc(1.4vw + 1.2rem);
			}
		}
		&__buttons {
			.button {
				width: 100%;
				font-size: clamp(12px, 1vw + 0.3rem, 15px);
			}
			&-social-media {
				gap: 1vw;
			}
		}
	}
	@media (min-width: 1080px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 60px 1fr;
		column-gap: 0vw;

		&__photo {
			width: 30vw;
			aspect-ratio: 1/1.2;
			///////
			border-radius: 0;
			border: 0;
			&-image {
				width: 100%;
				height: 100%;
				///////
				align-self: center;
				///////
				background-color: none;
				border-radius: 0;
				border: 0;
			}
		}
		&__typography {
			margin-top: 0vh;
			&-h3 {
				font-size: calc(0.4vw + 0.8rem);
				letter-spacing: 1px;
			}
			&-h2 {
				font-size: calc(0.9vw + 0.8rem);
				line-height: 121%;
			}
			&-h1 {
				font-size: calc(1.6vw + 1.5rem);
			}
		}
		&__buttons {
			column-gap: 0.8vw;
			.button {
				font-size: clamp(16px, 1.2vw + 0.2rem, 19px);
				border: 2px solid $black;
			}
			&-social-media {
				gap: 1vw;
			}
			&-linkedin {
				font-size: 40px;
			}
			&-github {
				font-size: 40px;
			}
			&-scroll {
				display: flex;
				top: auto;
				bottom: -50%;
				left: 22%;
				align-items: center;
				&-svg {
					display: inline-block;
					width: 50px;
				}
				&-p {
					display: inline-block;
					margin-left: 14px;
					///////
					font-size: 18px;
					font-family: $inter;
					font-weight: 500;
					color: $dark;
				}
			}
		}
	}
	@media (min-height: 1080px) and (orientation: portrait) {
		grid-template-rows: 0.75fr 1fr;
		&__buttons {
			column-gap: 0.8vw;
			.button {
				border: 2px solid $black;
			}
			&-social-media {
				gap: 1vw;
			}
			&-linkedin {
				font-size: 40px;
			}
			&-github {
				font-size: 40px;
			}
			&-scroll {
				display: flex;
				top: auto;
				bottom: 20%;
				align-items: center;
				&-svg {
					display: inline-block;
					width: 60px;
				}
				&-p {
					display: inline-block;
					margin-left: 14px;
					///////
					font-size: 20px;
					font-family: $inter;
					font-weight: 500;
					color: $dark;
				}
			}
		}
	}
	@media (min-width: 1280px) {
		&__content {
			grid-template-rows: 1fr 0.2fr;
			row-gap: 4vh;
		}
		&__typography {
			&-h3 {
				font-size: calc(0.4vw + 0.6rem);
				letter-spacing: 1px;
			}
			&-h2 {
				font-size: calc(0.9vw + 0.6rem);
				line-height: 121%;
			}
			&-h1 {
				font-size: calc(1.6vw + 1.5rem);
			}
		}
		&__buttons {
			grid-template-columns: 0.6fr 0.6fr auto 30px;
			column-gap: 1vw;

			.button {
				font-size: clamp(15px, 0.8vw + 0.35rem, 20px);
			}
			&-social-media {
				gap: 1vw;
			}
			&-linkedin {
				font-size: 34px;
				margin-left: 10px;
			}
			&-github {
				font-size: 34px;
			}
			&-scroll {
				left: 18%;
				&-svg {
					width: 45px;
				}
				&-p {
					margin-left: 12px;
					font-size: 16px;
				}
			}
		}
	}
	@media (min-height: 1280px) and (orientation: portrait) and (min-width: 660px) {
		&__content {
			row-gap: 1vh;
		}
		&__typography {
			&-h3 {
				font-size: calc(0.8vw + 0.9rem);
				letter-spacing: 1px;
			}
			&-h2 {
				font-size: calc(1.6vw + 0.8rem);
				line-height: 121%;
			}
			&-h1 {
				font-size: calc(1.2vw + 2rem);
			}
		}
		&__photo {
			width: 60%;
		}
		&__buttons {
			grid-template-columns: 2fr 2fr auto;
			column-gap: 1vw;
			.button {
				font-size: clamp(18px, 1.4vw + 0.6rem, 22px);
			}
			&-linkedin {
				font-size: 40px;
				width: 40px;
			}
			&-github {
				font-size: 40px;
				width: 40px;
			}
		}
	}
	@media (min-width: 1500px) {
		column-gap: 4vw;
		&__photo {
			width: clamp(420px, 80%, 540px);
		}
		&__typography {
			&-h3 {
				font-size: calc(0.55vw + 0.7rem);
				letter-spacing: 1px;
			}
			&-h2 {
				margin-top: 10px;
				font-size: calc(1vw + 0.6rem);
				line-height: 121%;
				font-weight: 200;
				span {
					color: $black;
					font-weight: 300;
				}
				@media (min-width: 1800px) {
					padding-right: 10%;
				}
			}
			&-h1 {
				font-size: calc(1.4vw + 1.5rem);
			}
		}
		&__buttons {
			grid-template-columns: 0.6fr 0.6fr auto 4vw;
			column-gap: 1vw;

			.button {
				font-size: clamp(14px, 0.8vw + 0.2rem, 19px);
			}
			&-social-media {
				gap: 1vw;
			}
			&-linkedin {
				font-size: 40px;
			}
			&-github {
				font-size: 40px;
			}
			&-scroll {
				left: 16%;
				bottom: -70%;
				&-svg {
					width: clamp(50px, 3.2vw, 65px);
				}
				&-p {
					margin-left: 13px;
					font-size: clamp(18px, 0.7vw + 0.4rem, 21px);
				}
			}
		}
	}
	@media (min-width: 1921px) {
		&__typography {
			&-h2 {
				@media (min-width: 2000px) {
					padding-right: 2%;
				}
			}
		}
		&__buttons {
			grid-template-columns: 0.6fr 0.6fr auto 3vw;
			column-gap: 0.7vw;
			.button {
				font-size: clamp(16px, 0.7vw + 0.25rem, 18px);
			}
			&-linkedin {
				font-size: 42px;
			}
			&-github {
				font-size: 42px;
			}
			&-scroll {
				left: 18%;
				bottom: -65%;
			}
		}
	}
	@media (min-width: 2049px) {
	}
}
