@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&family=Poppins:wght@300;400;700&family=Sulphur+Point:wght@400;700&display=swap");
// font-family: 'Inter', sans-serif;
// font-family: 'Sulphur Point', sans-serif;
// font-family: 'Poppins', sans-serif;

/* Fonts */
$inter: "Inter", sans-serif;
$sulphur: "Sulphur Point", sans-serif;
$poppins: "Poppins", sans-serif;

/* COLORS */
$white: #fefeff;
$gray: #eceff1;
$black: #222222;
$dark: #30343f;
///
$green: #c5fff0;
$yellow: #fff1b7;
$red: #ffc6c6;
